<p id="about" class="small">
CinFes was created for the <a href="http://zefrhackathon.com">Film Independent hackathon</a> by Bio-Digital Jazz (<a href="http://bowsersenior.github.com">Mani Tadayon</a> + <a href="http://themediaphile.com">Lonzia Shay, Jr.</a>) and won 2nd <i class="icon-trophy icon-large"></i>.
</p>