<ul class="movies thumbnails">
  <% Dir['./public/images/*'].each do |img| %>
    <% img.gsub!('/public', '') %>
    <% id = img.match(/(?<id>[^\/]+)\.jpg/)[:id] %>
    <li>
      <a href="/movies?id=<%= id %>" class="thumbnail">
        <img src="<%= img %>" alt="">
      </a>
    </li>
  <% end %>
</ul>