<% if current_user %>
  <a href="/logout">Log out</a>
<% else %>
  <form action="login" method="POST" class="input-prepend input-append">
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
    <input type="text" name="username" class="span6" size="10" placeholder="User name">


    <input type="password" name="password" class="span6" size="10" placeholder="Password">
    <span class="add-on">
      <i class="icon-key"></i>
    </span>

    <input type="submit" value="Login" class="btn btn-primary">
  </form>
<% end %>