<div class="flip">
  <div class="card">
    <div class="face front">
      <img class="movie-poster" src="<%= flash[:movie_poster] %>">
    </div>
    <div class="face back movie-info">
      <%= erb :movie_info, :locals => {:info => flash[:movie_info]} %>
    </div>
  </div>
</div>


<div id="tweets" class="hidden-phone span3">

</div>

<% content_for :js do %>
  <script>
    jQuery(function($){
      $("#tweets").tweet({
        avatar_size: 32,
        count: 8,
        query: "<%= flash[:movie_info]['Title'] %>",
        loading_text: "searching twitter..."
      });
    });
  </script>
<% end %>