<div class="flip">
  <div class="card">
    <div class="face front">
      <img class="movie-poster" src="<%= flash[:movie_poster] %>">
    </div>
    <div class="face back movie-info">
      <%= erb :movie_info, :locals => {:info => flash[:movie_info]} %>
    </div>
  </div>
</div>

<% content_for :js do %>
  <script>
    $(document).ready(function(){
      src = $('.movie-poster').attr('src');
      $('.movie-poster').attr('src', '');
      $('.movie-poster').attr('src', src);
    })
  <script>
<% end %>