<div id="movie-poster">
  <center>	
    <div id="movie-image">
	    <img src="http://ia.media-imdb.com/images/M/MV5BMjIxNjAzODQ0N15BMl5BanBnXkFtZTcwODY2MjMyNA@@._V1_SX300.jpg" />
    </div>
  </center>  	
</div>