#sidebar .icon-chevron-right {
  opacity: .25;
}

/* from:
     http://www.css3.com/moz-and-webkit-pulsing-animation-for-text-with-css3/
*/
@-webkit-keyframes pulse {
  from {
    opacity: 0.0;
    font-size: 50%;
    color: white;
  }
  to {
    opacity: 1.0;
    font-size: 100%;
    color: black;
  }
}

.just-logged-in .cinfes-logo {
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
}

.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: white;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}​
