#sidebar .icon-chevron-right {
  opacity: .25;
}

/* from:
     http://www.css3.com/moz-and-webkit-pulsing-animation-for-text-with-css3/
*/
@-webkit-keyframes pulse {
  from {
    opacity: 0.0;
    font-size: 50%;
    color: gray;
  }
  to {
    opacity: 1.0;
    font-size: 100%;
    color: black;
  }
}

.cinfes-logo {
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
}