#sidebar .icon-chevron-right {
  opacity: .25;
}

/* from:
     http://www.css3.com/moz-and-webkit-pulsing-animation-for-text-with-css3/
*/
@-webkit-keyframes pulse {
  from {
    opacity: 0.0;
    font-size: 50%;
    color: white;
  }
  to {
    opacity: 1.0;
    font-size: 100%;
    color: black;
  }
}

.just-logged-in .cinfes-logo {
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
}

.flip {
  -webkit-perspective: 800;
  width: 350px;
  height: 600px;
  position: relative;
  margin: 0 auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  position: absolute;
  -webkit-backface-visibility: hidden ;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: white;
  color: white;
  cursor: pointer;
}
.flip .card .back {
  font-size: 1em;
  line-height: 1em;
  -webkit-transform: rotatey(-180deg);
  color: black;
  cursor: pointer;
}

.movie-poster, .movie-info {
  width: 350px;
  box-shadow: 10px 10px 10px #888;
}

.movie-info {
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 6px;
}

.thumbnails li img{
  height: 200px;
}

#tweets {
  position: absolute;
  top: 45px;
  height: 500px;
  overflow: auto;
}

.nav {
  width: 360px;
  margin: 0 auto;
}

.nav .buttons {
  margin-left: 7.5em;
  padding: 0.5em;
}

.nav .buttons * {
  line-height: 1.5em;
}

.login-form input[type=text], .login-form input[type=password] {
  height: 2.2em;
  width: 7em;
}